.header{
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 10px;
    gap: 15px;

    background: var(--background-footer);
    border-bottom: solid 1px var(--background-default);
}

.image{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navBar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all 0.1s;
}

.navBar a:hover {
    transform: scale(1.05);
    transition: all 0.1s;
}

.interactions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.interactions a {
    text-decoration: none;
    transition: all 0.1s
}

.button-logout{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 20px;
    border: none;

    background: rgb(4, 0, 255);
    color: white;
    cursor: pointer;
    
    font-size: medium;
    font-weight: 700;
}

.button-logout:hover{
    background: rgba(0, 0, 255, 0.800);
    transform: scale(1.05);
}

.button-register{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 20px;
    border: none;

    background: rgb(255, 255, 255);
    color: black;
    
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}

.button-register:hover{
    background: rgba(255, 255, 255, 0.800);
    transform: scale(1.05);
}