.header{
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 10px;
    gap: 15px;

    background: var(--background-footer);
    border-bottom: solid 1px var(--background-default);
}

.header a, .header p{
    text-decoration: none;
    color: white;
}


.image{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.interactions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logout{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 20px;
    border: none;

    background: rgb(4, 0, 255);
    color: white;
    
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}

.logout:hover{
    background: rgb(0, 0, 218);
}