.create-post{
    position: relative;
    padding-block: 10px;
    gap: 20px;
}

.create-post a {
    position: absolute;
    right: 10px;
    
    color: var(--color-default);
    padding: 10px;
    background: blue;
    border-radius: 20px;

    text-decoration: none;
    transition: all 0.1s;
}

.create-post a:hover{
    background: rgba(0, 0, 255, 0.800);
    transform: scale(1.05);
}