.register{
    justify-content: center;
}

.register form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 255, 255, 0.76);
    color: black;
}

.register label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register input{
    width: 300px;
    font-size: medium;
}

.register button{
    width: 40%;
    align-self: center;
    font-size: medium;
    padding: 5px;
    padding-block: 10px;

    color: white;
    background: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

.register button:hover{
    transform: scale(1.05);
    background: rgb(0, 0, 167);
}

.register span, .register a{
    text-align: center;
    text-decoration: underline;
    transition: all 0.1s;
    color: black;
}

.register a:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 255);
}

.register span { 
    font-weight: bold;
}

